<div class="container">
  <h1 class="text-left ">Stupid Coach</h1>
  <div class="mx-auto">
    <form action="answer" data-turbo="false" method="get">
      <label for="question" class="p-20">ask your coach a question:</label>
      <input type="text" name="answer">
      <input class="btn-success rounded" type="submit" value="Ask!">
    </form>
  </div>
</div>
